{% extends "base.html" %}
{% load static %}
{%block title%}{{project.title}}{%endblock%}
{%block contents%}
<div class='container'>
  <br>
  <div class='row'>
      <div class='col-4'>
        <h3>{{project.title}}</h3>
        <hr>
        <b>{{project.description}}</b>
      </div>
      <div class='col-8'>
         <img src="{{ project.main_img.url }}" alt="{{ project.title }}" width="700" height='500'>
      </div>
  </div>
  <br>
  <div class='row'>
      <div class='col-3'>
        <h5>Category:</h5>        
        <hr>
        <h8>{{project.category}}</h8>
      </div>
      <div class='col-3'>
        <h5>Technologies:</h5>
        <hr>
        <ul>
        {% for tech in project.technologies.all %}
          <li>{{tech}}</li>
        {% empty %}
          <li>No technologies listed.</li>
        {% endfor %}
        </ul>
      </div>
      <div class='col-3'>
         <h5>Status:</h5>
         <hr>
         <h8>{{project.status}}</h8>
      </div>      
      <div class='col-3'>
         <h5>Last updated:</h5>
         <hr>
         <h8>{{project.updated}}</h8>
      </div>
    
  <div class='row'>
    {% for img in imgs.all %}
      <div class='col-4'>      
      <img src="{{img.images.url }}" alt="{{ project.title }}" width="400" height='300'>
      <hr>
      </div>
    {% endfor %}
  </div> 
  <br>
</div>
 

  <!-- <h3>link:{{project.link}}</h3>-->

{% endblock %}